*{
   margin: 0; 
   padding: 0;
   box-sizing: 0;
}
body{
    background-image: url(img/Dessert\ 🍨.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    
}.theheader1{
align-items: center;
display: flex;
justify-content: center;
margin-top: 20rem;
margin-left: 40rem;
height: 3rem;
width: 17rem;
border-radius: 1rem;
background-color: rgb(21, 239, 24);
color: rgb(9, 9, 9);
font-size: 1rem;
}a{
    text-decoration: none;
}